<strong><font size="6" color="#68154D" face="Arial, Helvetica, sans-serif">
Help for Seasonality Tool
</font></strong>

<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Interactively Explore Seasonality Patterns with the Seasonality Tool:
<ul>
	<li>Identify the historically most profitable months</li>
	<li>Study the historical annual performance of the selected month</li>
	<li>Visualize the daily performance for the selected month</li>
</ul>
</font></strong>



<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Select Ticker and Click 'Run' button to get started.
</font></strong>
<br><br>
<img src="www/img/seasonality_summary.png" border="0"/>




<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary - Updated
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Seasonality Analysis Report contains summary performance statistics for each month, and can be used
to determine the historically most profitable months.
</font></strong>
<br><br>
<img src="www/img/seasonality_summary1.png" border="0"/>


<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Summary - Downloads
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
The reports can be downloaded in the following formats:
<ul>
	<li>RMarkdown</li>
	<li>PDF</li>
	<li>CSV</li>
</ul>
</font></strong>
<br><br>
<img src="www/img/seasonality_summary2.png" border="0"/>



<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Performance Details
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
The Performance Details Report contains performance statistics for each month and historical performance.
</font></strong>
<br><br>
<img src="www/img/seasonality_details.png" border="0"/>


<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Month Performance Summary
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Month Performance Summary Report contains annual performance for selected month.
</font></strong>
<br><br>
<img src="www/img/seasonality_month.png" border="0"/>



<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Month Performance Summary - Daily Historical Performance
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Detail performance for selected month.
</font></strong>
<br><br>
<img src="www/img/seasonality_month1.png" border="0"/>


<br><br>
<strong><font size="5" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Month Performance Details
</font></strong>
<br>
<strong><font size="3" color="#4a4a4a" face="Arial, Helvetica, sans-serif">
Month Performance Details Report contains detail historical candle charts for each year. 
</font></strong>
<br><br>
<img src="www/img/seasonality_mdetails.png" border="0"/>


